<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
	</system.web>

	<system.webServer>
		<staticContent>
			<!-- Remove existing MIME types first to avoid duplicates -->
			<remove fileExtension=".woff" />
			<remove fileExtension=".woff2" />
			<!-- Then add them -->
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
		</staticContent>
	</system.webServer>

	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
</configuration>